@charset "utf-8";

/* 웹폰트 CSS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    font-family: 'Noto Sans KR', NanumGothic, 나눔고딕, 'Nanum Gothic', '맑은 고딕', HelveticaNeue, DroidSans, sans-serif, Helvetica;
    background: url(../images/s_images/body_bg.png);
    line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
nav ul, li {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
    color: #fff;
    background: transparent;
}

img {
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, textarea {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    vertical-align: top;
    appearance: none;
    border: 1px solid #2f5986;
    color: #2f5986;
    border-radius: 0;
    font-family: 'Noto Sans KR', NanumGothic, 나눔고딕, 'Nanum Gothic', '맑은 고딕', HelveticaNeue, DroidSans, sans-serif, Helvetica;
    font-weight: bold;
}

input::-moz-placeholder {
    color: #2f5986;
}
textarea::-moz-placeholder {
    color: #2f5986;
}

input::-webkit-input-placeholder {
    color: #2f5986;
}
textarea::-webkit-input-placeholder {
    color: #2f5986;
}

@font-face {
    font-family: 'Nanum Gothic';
    src: url(webfont/NanumGothic.eot)
}

@font-face {
    font-family: 'Nanum Gothic';
    src: url(webfont/NanumGothic.woff)
}